@model ApiRouteViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-center">Get All Api Routes</h4>
<div class="row">
    <div class="text-danger" asp-validation-summary="ModelOnly">

    </div>
    <div class="row">
        <div class="col-sm-4">
            <b>Number of endpoints available: @Model.ApiRouteList.Count</b>
        </div>
        <div class="col-sm-2">
            <button type="button" id="btnAddToList" style="width:auto;" class="btn btn-primary">Add To List</button>
        </div>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="">All</option>
                @if (Model.ApiVerbs.Any())
                {
                   @foreach (var verb in Model.ApiVerbs)
                   {
                       <option value="@verb">@verb</option>
                   }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" id="btnFilter" class="btn btn-default">Filter By Verbs</button>
        </div>
    </div>

</div>
<div id="endpointcontainer">
    @await Html.PartialAsync("PartialApiRoutes", Model.ApiRouteList)
</div>
