@model Employee


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <span><a class="btn btn-default" asp-action="Index">Back to List</a> <strong style="margin-left:50%" class="text-center">Employee</strong> </span>    
    </div>

</div>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        

        <form asp-action="Edit">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:none" class="row form-group">
                    <label asp-for="id" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="id" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="FirstName" style="text-align:left;" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="FirstName" class="form-control" />

                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LastName" style="text-align:left;" class="control-label col-md-4"></label>
                    <div class="col-md-8">

                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Gender" style="text-align:left;" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Salary" style="text-align:left;" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-12">
                            <input style="float:right; margin-right:15px; margin-top:5px" type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>






