
@model UserInfo
<div style="width:75%;" class="container">
    
    <form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.ReturnUrl">
    
        <div class="col-md-12">

            <div class="form-group">
                
                <label asp-for="userName">Username</label>       
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password">Username</label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Login</button>




        
        </div>

    </form>


</div>