
@model UserInfo
<div style="width:75%;" class="container">
    
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="col-md-12">

            <div class="form-group">
                
                <label asp-for="UserName">Username</label>       
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Username</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Login</button>




        
        </div>

    </form>


</div>