<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="~/lib/SiteStyle.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/validation/jquery.validate.js"></script>
    <script src="~/lib/jquery/validation/unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Employee" asp-action="GetEmployees">Employee</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Feature</a></li>

            </ul>
            @if(User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">

                    <li><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                </ul>
            }
            </div>
    </nav>

    
    <p></p>
    <div class="container">

        @RenderBody()
    </div>
    <footer></footer>

    @RenderSection("Scripts", false)
</body>
</html>
